main {
  background-color: rgb(191, 179, 180);
  height: 50vh;
  width: 100vw;
}

.prepend_card {
  height: 30rem;
  width: 20rem;
  background-color: #FFF;
  margin: 5% 5% 0%;
}

.prepend_card__title {
  padding: 4%;
  font-weight: normal;
  font-size: 18px;
}

